<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <h1>Gallery</h1>

    <br />
    <br />
    <p class="center">
      September 2019
    </p>

    <img alt="" src="/images/19-09-12_2nd_anniversary_croppedpg.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <p class="center">
      July 2019 : Boules tournament
    </p>

    <img alt="" src="/images/19-07_Boules_Brewood.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-07_Boules_Cannock_Nancy.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-07_Boules_Linzi.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-07_Boules_Pelsall.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-07-25_Chronicle_Boules.png" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <p class="center">
      June 2019 : French evening
    </p>

    <img alt="" src="/images/19-06_French_night_Derek.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-06_French_night_general.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-06_French_night_wine_tasting.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-06-05_Chronicle.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-06-27_French_evening_write_up.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <img alt="" src="/images/19-06-29_Express_and_Star.png" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <p class="center">
      April 2019 : Barcroft Primary School fashion show
    </p>

    <img alt="" src="/images/19-04_Barcroft_images.png" width="60%" padding="25px" class="center" />
    <br />
    <br />
    <img alt="" src="/images/19-04-01_Barcroft_Fashion_Show.png" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <p class="center">
      March 2019 : Class visit to Nice
    </p>

    <img alt="" src="/images/19-03_Nice_trip.png" width="60%" padding="25px" class="center" />
    <br />
    <br />
    <img alt="" src="/images/19-03_Nice_restaurant.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />
    <img alt="" src="/images/19-03_Nice_picnic.jpg" width="60%" padding="25px" class="center" />
    <br />
    <br />
    <img alt="" src="/images/19-03_Nice_trip_Nice_sign.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      January 2019
    </p>

    <img alt="" src="/images/19-01_galette_des_rois.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />

    <img alt="" src="/images/WhyLangsGood.png" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      October 2018
    </p>

    <img alt="" src="/images/2018-10-25.png" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      July 2018
    </p>

    <img alt="" src="/images/2018-09.png" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      July 2018
    </p>

    <img alt="" src="/images/2018-08-30.png" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      July 2018
    </p>

    <img alt="" src="/images/2018-07-21.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      July 2018
    </p>

    <img alt="" src="/images/french-night-poster-2018.png" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      July 2018
    </p>

    <img alt="" src="/images/2018-07-05.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      July 2018
    </p>

    <img alt="" src="/images/2018-07.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      June 2018
    </p>

    <img alt="" src="/images/2018-06-23.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      February 2018
    </p>

    <img alt="" src="/images/2018-02.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />
    <p class="center">
      November 2017
    </p>

    <img alt="" src="/images/2017-11-22.jpg" width="60%" padding="25px" class="center" />

    <br />
  </div>
  {{> footer}}
</body>

</html>