<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <h1>Testimonials</h1>
    <p>
      "It’s lively and I like the way we learn in complete sentences. The variety keeps your attention. It was fun.
      You learn quickly and the time passes very quickly."
      <br />
      - Sarah, Aldridge
    </p>

    <br />

    <br />
    <img alt="Tracey" src="/images/Tracey.png" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <p>
      "Jane is very approachable and goes out of her way to make our sessions lively and enjoyable."
      <br />
      - Dorothy, Brownhills
    </p>

    <br />

    <img alt="Tracey Harriman" src="/images/19-05TraceyHarriman.jpg" width="60%" padding="25px" class="center" />

    <br />
    <br />

    <p>
      "I have wanted to learn French for years but never managed to find the right class. Jane's method of teaching is
      one of mixing the learning with fun and empathy. I really look forward to our lessons."
      <br />
      - George, Cannock
    </p>

    <br />

    <p>
      "Never any good with foreign languages at school or since but have found a new desire to learn French and Jane's
      lessons are encouraging me to be confident in giving it a go!"
      <br />
      - Linzi, Cannock
    </p>

    <br />

    <p>
      "I do love the variety of activities on offer."
      <br />
      - Brendan, Great Wyrley
    </p>

    <br />

    <p>
      "It is relaxed and at times there are funny moments when we got it wrong. All participants gelled and helped
      each other."
      <br />
      - Christine, Great Wyrley
    </p>

    <br />

    <br />
    <img alt="Dorothy" src="/images/Dorothy_Comment_Sept_2019.png" width="60%" padding="25px" class="center" />
    <br />
    <br />

    <p>
      "What I like about the lessons is that we are given information about how to learn and we are encouraged to look
      at things outside the lesson (a website or a radio programme) if they are of interest to us."
      <br />
      - Neil, Chelsyn Hay
    </p>

    <br />

    <img alt="Dorothy And Clifford" src="/images/19-05DorothyAndClifford.png" width="60%" padding="25px"
      class="center" />
  </div>
  {{> footer}}
</body>

</html>