body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* A flexbox */
.container {
  display: flex;
}

/* Header */
div.header {
  align-items: center;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  padding: 12px;
  /*height: 36px;*/
  text-align: center;
  justify-content: center;
}

div.header2 {
  align-items: flex-start;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  padding: 12px;
  text-align: center;
  justify-content: center;
}

/* Header logo */
div.logo {
  margin-left: 15px;
}

div.jlh-logo img {
  width: 35%;
}

/* Header links */
div.header div.nav-links {
  align-items: center;
  text-align: center;
  justify-content: center;
}

div.header div.nav-links a {
  padding: 0 7px;
  text-decoration: none;
  color: black;
  font-size: x-large;
}

h1 {
  text-decoration: underline;
}

div.header div.nav-links a:hover {
  color: #5A6378;
  text-decoration: underline;
}

/* Main view */
div.main {
  flex-direction: column;
  padding: 0 75px;
  color: white;
  background-color: #669999;
}

/* Main content wrapper */
.content {
  font-size: x-large;
}

.content div {
  margin:  30px 0;
  margin-right: 30px;
}

.content img {
  flex-direction: column;
  width: 60%;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
}

.content img.small {
  flex-direction: column;
  width: 20%;
  justify-content: left;
  display: block;
  margin-left: 0;
  margin-right: auto;
  text-align: left;
  padding: 0;
}

/* Footer */
div.footer a,
div.footer div {
  padding: 0 5px;
  color: white;
}

div.footer {
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: x-large;
  /*height: 36px;*/
  padding: 12px;
  justify-content: center;
  color:white;
  border-top: 1px solid rgba(219, 219, 219, 1);
  background-color: #669999;
}

div.footer2 {
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: x-large;
  /*height: 36px;*/
  padding: 12px;
  justify-content: center;
  color:white;
  border-top: 1px solid rgba(219, 219, 219, 1);
  background-color: #669999;
}

div.footer2 img {
  width: 30px;
  padding-left: 30px;
  padding-right: 5px;
}

div.footer div.nav-links {
  align-items: center;
  text-align: center;
  justify-content: center;
}

div.footer div.nav-links a {
  padding: 0 7px;
  text-decoration: none;
  color:white;
  font-size: x-large;
}

div.footer div.nav-links a:hover {
  color: #5A6378;
  text-decoration: underline;
}

/* 404 Page */
div.not-found {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(155, 155, 155);
}

div.row {
  display: flex;
}

div.column {
  flex: 50%;
  /*padding: 10px;*/
}

thead {
  text-align: left;
  border-bottom: 2px solid white;
}

tr {
  border-bottom: 1px solid white;
  /*height: 5vh;*/
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

a.select {
  text-decoration:none;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: xx-large;
  padding: 30px;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.heading {
  font-size: xx-large;
  text-decoration: underline;
}
